[Desktop Entry]
Name=Komorebi
GenericName=Wallpaper engine
Comment=An awesome wallpapers manager
Keywords=wallpaper;settings;preferences;animated;
Icon=com.github.cheesecakeufo.Komorebi
Exec=komorebi %U
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
X-GNOME-Autostart-enabled=true
