[Desktop Entry]
Name=Wallpaper Creator
Comment=Create wallpapers for Komorebi
Keywords=wallpaper;settings;preferences;creator
Icon=@icon@
Exec=komorebi-wallpaper-creator %U
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
X-GNOME-Autostart-enabled=false
